body {font-family: 'Cairo', sans-serif;color: #333;font-size: 16px;line-height: 1.5;margin: 0;padding: 0;}
.content {width: 1000px;margin: 0 auto;}
.main-bg-color {background-color: #084597;}
.pad-top {padding-top: 30px;}
.pad-bot {padding-bottom: 30px;}
.fl-ri {float: right;}
.fl-le {float: left;}
.te-ri {text-align: right;}
.mar0 {margin: 0;}
.pad0 {padding: 0;}
.color6 {color: #666;}
.colorf {color: #fff;}
.clear {clear: both;}
.tbg {background-image: url('img/total_bg.png'); background-repeat: no-repeat;}
a {-webkit-transition: all 0.1s ease; transition: all 0.1s ease; color: #068af7}
a:hover {text-decoration: none;}
a.button {position: relative; display: block; color: #fff; background-color: #0789f7; border-radius: 2px; font-size: 22px;font-weight: 400; text-align: center; text-decoration: none;max-width: 280px; height: 44px; line-height: 42px; outline: none;}
a.button:hover {background-color: #0769d7;}
a.button:active {background-color: #0749b7;}
input[type="text"] {width: 240px;box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #fff;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;padding: 0 10px;font-family: sans-serif;font-size: 14px;color: #555;height: 32px;box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);}
input[type="email"] {width: 240px;box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #ddd;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;padding: 0 10px;font-family: sans-serif;font-size: 14px;color: #555;height: 32px;box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);}
input[type="tel"] {width: 240px;box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #ddd;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;padding: 0 10px;font-family: sans-serif;font-size: 14px;color: #555;height: 32px;box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);}
h1 {font-size: 25px; margin-top: 0; font-weight: 600;line-height: 1.2;}
p.h2 {text-align: center; text-transform: uppercase; font-weight: 700; font-size: 24px; color: #333; letter-spacing: 1px; margin-top: 10px;}
p.h2:after {display: block; margin: 20px auto; width: 50px; height: 2px; background: #000; content: '';}
p.h3 {text-align: left; text-transform: uppercase; font-weight: bold; font-size: 12px; margin: 0 0 0 15px; color: #333; letter-spacing: 1px;}
p.h3:after {display: block; box-shadow: 0 3px 2px -2px rgba(0,0,0,0.1); height: 10px; content: ""; margin: 0 10px 15px -20px;}
.over-header {background-image: url('img/bg3.jpg');background-size: cover;background-position: center center;background-color: #333;}
#header {position: relative;background: rgba(10,10,10,0.4);color: #fff;padding: 40px 0;}
#header .logo-container {height: 47px;}
#header .logo-container img {height: 100%;}
#header .descript {font-size: 14px;text-transform: uppercase;padding-top: 3px;text-align: center;border-top: 1px solid rgba(255,255,255,0.2);margin: 3px 5px 0 2px;}
#header .phone {font-weight: 600;margin-bottom: 7px;font-size: 22px;position: relative;text-align: center;height: 32px;line-height: 28px;padding-left: 20px;}
#header .phone > div {width: 16px;height: 16px;background: rgba(0,0,0,0.3);position: absolute;top: 0;left: 30px;padding: 6px;border-radius: 50%;border: 1px solid rgba(255,255,255,0.3);}
#header .phone span {display: block;width: 16px;height: 16px;background-position: 0 -16px;margin-top: -1px;margin-right: -2px;opacity: 0.9;}
#header .search-box {position: relative;}
#header .search-box a {position: absolute;top: 1px;right: 1px;width: 30px;height: 30px;display: block;}
#header .search-box a span {display: block;position: absolute;width: 16px;height: 16px;top: 6px;left: 6px;}
#header #shopping-cart {position: absolute;left: 50%;margin-left: -125px;top: 50%;margin-top: -29px;background: rgba(0,0,0,0.3);height: 44px;padding: 10px 20px 8px 15px;border-radius: 10px;border: 1px solid rgba(255,255,255,0.2);opacity: 0.7;cursor: default;}
#header #shopping-cart.incart {opacity: 1;}
#header #shopping-cart .cart-icon {position: relative;}
#header #shopping-cart .cart-icon > div {width: 32px;height: 32px;background-position: -16px 0;margin-right: 15px;}
#header #shopping-cart .cart-icon > span {display: block;width: 24px;height: 24px;line-height: 24px;position: absolute;bottom: -10px;right: 8px; text-align: center;border-radius: 50%;background: rgb(233, 22, 63) /* #0e98f0 */;color: #fff;font-size: 14px;border:2px solid #fff;}
#header #shopping-cart .cart-icon > span.empty {background: #999;}
#header #shopping-cart .cart-text > div {line-height: 1;font-size: 14px;margin-top: 4px;text-transform: uppercase;}
#header #shopping-cart .cart-text .cart-links {color: rgba(255,255,255,0.5);margin-top: 5px;font-weight: 600;}
#header #shopping-cart .cart-text .cart-links a {color: #fff;}
.breadcrumbs {font-size: 13px; color: #aaa; margin-bottom: 15px; line-height: 1.2;}
.breadcrumbs a {color: #999;}
#menu { margin-bottom: 10px; height: 40px; background: rgba(0,0,0,0.6); box-shadow: 0 3px 6px rgba(0,0,0,0.2);}
#menu ul, #category .category-menu ul {list-style-type: none;}
#menu ul li {float: left;}
#menu ul li a {color: #fff; font-weight:600; display: block; padding: 0 15px; height: 40px; line-height: 38px; text-decoration: none; text-transform: uppercase; font-size: 15px; outline: none;}
#menu ul li.catalog a { background: rgba(233, 22, 63, 0.5);}
#menu ul li a:hover, #menu ul li.catalog:hover a {background-color: #f5f5f5; color: #333; border-color: #084597;}
#menu ul li.catalog {position: relative;}
#menu ul li.catalog:hover ul.catalog-level1 {display: block;}
#menu ul.catalog-level1 {display: none;z-index: 5; position: absolute; top: 40px; left: 0; background: #f5f5f5; width: 220px; padding:0; box-shadow: 0 6px 10px -5px #000;}
#menu ul.catalog-level1 li {float: none;}
#menu ul.catalog-level1 li a {position: relative; background: none; text-transform: none; color: #333; padding: 0 20px; font-size: 17px;}
#menu ul.catalog-level1 li a:hover {background: #eee;color: #068af7;}
#menu ul.catalog-level1 li.has-children a:after {right: 20px; top: 16px;}
#menu ul.catalog-level1 li.has-children {position: relative;}
#menu li.has-children ul.catalog-level2 {display: none; z-index: 6; position: absolute; top: 0; left: 220px; background: #f5f5f5; width: 220px; padding:0;  box-shadow: 0 6px 10px -5px #000;}
#menu li.has-children ul.catalog-level2 li a {font-weight: normal;}
#menu li.has-children ul.catalog-level2 li a:after {display: none;}
#menu ul.catalog-level1 li.has-children:hover > a {background: #eee;color: #068af7;}
#menu ul.catalog-level1 li.has-children:hover > ul.catalog-level2 {display: block;}

.main-page-beneits {padding: 40px 0; background: #f9f9f9;}
.main-page-beneits .point {float: left; width: 290px; margin-right: 65px; display: table; padding-top: 10px; margin-bottom: 20px;}
.main-page-beneits .point:nth-child(3n+1) {margin-right: 0;}
.main-page-beneits .point > div {display: table-cell; vertical-align: middle;}
.main-page-beneits .point .icon {padding-right: 10px;}
.main-page-beneits .point .icon .cl {background-color: #e9163f; height: 32px; width: 32px; padding: 12px; border-radius: 50%; display: inline-block; vertical-align: middle;}
.main-page-beneits .point .icon .tbg {height: 32px; width: 32px;}
.main-page-beneits .point.ic1 .icon .tbg {background-position: -32px -48px;}
.main-page-beneits .point.ic2 .icon .tbg {background-position: 0 -80px;}
.main-page-beneits .point.ic3 .icon .tbg {background-position: -64px -80px;}
.main-page-beneits .point.ic4 .icon .tbg {background-position: -96px 0px;}
.main-page-beneits .point.ic5 .icon .tbg {background-position: 0 -112px;}
.main-page-beneits .point.ic6 .icon .tbg {background-position: -64px -112px;}
.main-page-beneits .point.ic7 .icon .tbg {background-position: -128px 0px;}
.main-page-beneits .point.ic8 .icon .tbg {background-position: -128px -64px;}
.main-page-beneits .point.ic8 .icon .tbg {background-position: 0 -144px;}
.main-page-beneits .point .text {line-height: 1.2;}

#category .category-menu ul li a:before,#menu ul.catalog-level1 li.has-children a:after { display: block; width: 10px; height: 10px; background-size: 10px; background-position: left center; background-repeat:no-repeat; content:"";position:absolute; background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzMzMzMzMyIvPgogIDwvZz4KPC9zdmc+Cg==');}
#category .category-menu {width: 210px;}
#category .category-menu ul li {margin-bottom: 10px;}
#category .category-menu ul li a {position: relative; margin-left: 0; display: block; color: #333; text-decoration: none; font-size: 17px; height:26px; line-height:26px; font-weight: 600; padding-left: 16px; margin-bottom: 5px;}
#category .category-menu ul li a:before {top: 8px; left:0;}
#category .category-menu ul li a:hover {color: #068af7;}
#category .category-menu ul li ul li {margin-bottom: 0;}
#category .category-menu ul li ul li a {font-weight: normal; color: #777;}
#category .category-menu ul li ul li a:before {display: none;}
#category .category-products {width: 790px;}
#category .category-body {margin-left: 12px;}
#category .category-header {padding: 0 20px;}
#category .category-product-list {border-top: 1px solid; border-left: 1px solid;}
#category .category-product-list a {text-decoration: none;}
#category .category-product-list a:hover {text-decoration: none;}
#category .category-product-list a:hover .cat-pr {box-shadow: 0 0 4px rgba(0,0,0,0.3); z-index: 2;}
#category .cat-pr {position: relative; float: left; width: 218px; border-right: 1px solid; border-bottom: 1px solid; padding: 20px;}
#category .category-product-list, #category .cat-pr {border-color: #eee;}
#category .cat-pr-img img {width: 100%; display: block;}
#category .cat-pr-title {font-size: 14px; height: 36px; margin: 10px 0; line-height: 18px; color: #333; overflow: hidden}
#category .cat-pr-price {color: #000; font-weight: bold; margin-bottom: 5px;}
#category .cat-pr-price.discount {color: #e9163f;}
#category .cat-pr-price span {color: #666; font-weight: normal; text-decoration: line-through; font-size: 14px;}
#category .cat-pr-cta:hover {text-decoration: underline;}

#product-page .product-title, #product-page .short-info {float: right; width: 470px; margin-left: 40px;}
#product-page .product-title {margin-bottom: 10px;}
#product-page .product-images {width: 490px; float: left;}
#product-page .product-images .main-image {border: 1px solid #eee; }
#product-page .product-images .main-image img {width: 100%; display: block;}
#product-page .product-images .additional-images a {display: block; opacity:0.5; float: left; margin-right:10px; width: 88px; height: 88px; border: 1px solid #eee; margin-top: 10px; outline: none;}
#product-page .product-images .additional-images a.last {margin-right: 0;}
#product-page .product-images .additional-images a:hover {border-color: #ccc; opacity: 1;}
#product-page .product-images .additional-images a img {width: 100%;}
#product-page .product-container {margin-top: 30px;}
#product-page .product-details {padding: 20px 0; margin-bottom: 40px;}
#product-page .product-code {margin-top: 0; margin-bottom: 8px; color: #666; line-height: 1;}
#product-page .product-price {font-weight: 700; font-size: 22px; margin-top: 0; margin-bottom: 15px;}
#product-page .product-price span {font-size: 16px; font-weight: 600; text-decoration: line-through; color: #e9163f; margin-left: 5px;}
#product-page .add-block {margin-top: 40px;}
#product-page .add-block .to-cart span {position: absolute; display: block; width: 24px; height: 24px; margin-top: -12px; top: 50%; left: 75px; content: ''; background-repeat: no-repeat; background-position: center; background-position: -48px 0; background-image: url('img/total_bg.png');}
#product-page .short-benefits {border: 1px solid #fff;}
#product-page .short-benefits .point {cursor:default; text-align: left; line-height: 1.2; font-size: 14px; width: 170px; float: left; padding: 20px 10px; -webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
#product-page .short-benefits .point .icon {width: 32px; height: 32px; padding: 1px; margin: 0 auto;}
#product-page .short-benefits .point .icon div {width: 32px; height: 32px; background-repeat: no-repeat;}
#product-page .short-benefits .point .text {padding-top: 7px; text-align: center;}
#product-page .short-benefits .point.ic1 .icon div {background-position: 0 -48px;}
#product-page .short-benefits .point.ic2 .icon div {background-position: -64px -48px;}
#product-page .short-benefits .point.ic3 .icon div {background-position: -32px -80px;}
#product-page .short-benefits .point.ic4 .icon div {background-position: -96px -32px;}
#product-page .short-benefits .point.ic5 .icon div {background-position: -96px -64px;}
#product-page .short-benefits .point.ic6 .icon div {background-position: -32px -112px;}
#product-page .short-benefits .point.ic7 .icon div {background-position: -96px -96px;}
#product-page .short-benefits .point.ic8 .icon div {background-position: -128px -32px;}
#product-page .short-benefits .point.ic9 .icon div {background-position: -128px -96px;}
#product-page .long-description {margin-top: 70px;}
#product-page .tabs {width: 619px;}
#product-page .tabs ul {list-style-type: none; padding: 0; margin: 0; border-left: 1px solid #ddd; display: table; width: 100%; overflow: hidden;}
#product-page .tabs ul li {display:table-cell; border-right: 1px solid #ddd;}
#product-page .tabs ul li a {display: block; text-align:center; background: #f5f5f5; box-shadow: inset 0 -3px 2px -3px rgba(0,0,0,0.2); text-decoration: none; padding: 0 10px; border-top: 1px solid #ddd; color: #333; font-weight: 600; line-height: 36px; height: 36px; outline: none; border-bottom: 1px solid #ddd;}
#product-page .tabs ul li a:hover {background: #ddd; color: #000;}
#product-page .tabs ul li a.selected {color: #068af7; border-bottom: 1px solid #fff; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.4); position: relative;}
#product-page .tabs ul li a.selected:hover {background: #fff;}
#product-page .tab-info {width: 618px; border-left: 1px; border-top: 0; border-right:1px; border-bottom: 1px; border-style: solid; border-color: #ddd;}
#product-page .tab-content {padding: 20px;}
#product-page .tab-selected {display: none;}
#product-page .tab-selected.selected {display: block;}
#product-page .tab-content .tab-header {margin-top: 0; font-size: 26px; font-weight: 700; line-height: 1;}
#product-page .tab-container, #product-page .related-products {float: left;}
#product-page .related-products {width: 340px; margin-left: 40px;}
#product-page .related-products .rel-header {margin-top: 0; margin-bottom: 0; font-weight: 700; text-align: center; line-height: 36px; height: 36px; background: #333; border: 1px solid #000; color: #fff;}
#product-page .related-products ul, .product-email-sign-up .point.text ul  {margin: 0; padding: 0; list-style-type: none;}
#product-page .related-products ul li {float: left; width: 163px; margin-right: 10px; margin-top: 10px; background: #f5f5f5; border: 1px solid #eee;}
#product-page .related-products ul li:nth-child(2n) {margin-right: 0;}
#product-page .related-products ul li .related-img {overflow: hidden; height: 100px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
#product-page .related-products ul li a {color: #000; text-decoration: none; font-size: 14px; padding: 10px; display: block;}
#product-page .related-products ul li a img {width: 100%; display: block; margin-top: -19px;}
#product-page .related-products ul li a p {margin: 0;}
#product-page .related-products ul li a p.related-name {line-height: 1.2; padding-top: 7px; font-size: 13px; height: 50px;}
#product-page .related-products ul li a p.related-price {font-weight: 600; padding-top: 7px;}
#product-page .related-products ul li a p.related-price span {color: #e9163f; text-decoration: line-through;}
#product-page .added_message {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 5; display: none;}
#product-page .added_message .added_content {display: none; background: #fff; padding: 20px; position: fixed; top: 50%; left: 50%; width: 280px; height: 240px; margin-top: -140px; margin-left: -160px;}
#product-page .added_message .added_close {position: absolute; top: 15px; right: 15px; background: #ddd; font-size: 18px; color: #fff; text-decoration: none; text-transform:uppercase; display: block; height: 26px; width:25px; padding-left: 1px; text-align:center; line-height: 26px; border-radius: 50%;}
#product-page .added_message .added_h {margin: 0; font-weight: 600; font-size: 18px; line-height: 1.2;}
#product-page .added_message .added_h:after {display: block; height: 1px; background: #eee; margin: 15px 0; content: "";}
#product-page .added_message .added_product {display: table; width: 100%;}
#product-page .added_message .added_img {display: table-cell; width: 80px; vertical-align: top;}
#product-page .added_message .added_img img {width: 100%;}
#product-page .added_message .added_name {display: table-cell; padding-left: 10px; vertical-align: top; height: 110px;}
#product-page .added_message .added_name p {margin-bottom: 0; margin-top: 10px;}
#product-page .added_message .added_continue {float: left; line-height: 30px; font-size: 13px;}
#product-page .added_message .added_order {float: right; height: 28px; width: 100px; text-align: center; display: block; text-decoration: none; line-height: 28px; font-size: 13px; text-transform: uppercase; font-weight: bold; border: 2px solid; border-radius: 4px;}
#product-page .added_message .added_order:hover {color: #fff; background:#0769d7; border-color: #0769d7;}

.product-email-sign-up {background-color: #eee; padding-bottom: 60px; padding-top: 50px;}
.product-email-sign-up .point {float: left;}
.product-email-sign-up .point.text {width: 670px;}
.product-email-sign-up .point.text p {font-weight: bold;}
.product-email-sign-up .point.text ul li {height: 26px; line-height: 26px; margin-bottom: 15px;}
.product-email-sign-up .point.text ul li span {display: block; margin-right:10px; float: left; width: 26px; height: 26px; line-height: 26px; text-align: center; background: #333; color: #fff; border-radius: 50%; font-weight: bold;}
.product-email-sign-up .point.form {width: 320px; background: #fff; margin-top: 10px; box-shadow: 0 12px 12px -4px rgba(0,0,0,0.5);}
.product-email-sign-up .point.form div.form-head-bg {height: 4px; background: #eee; width:106%; margin-left: -3%; position: relative; box-shadow: 0 3px 2px -1px rgba(0,0,0,0.5);}
.product-email-sign-up .point.form div.form-content {padding: 20px 20px 40px; width: 240px; margin: 0 auto;}
.product-email-sign-up .point.form div.form-content {margin-top: 0;}
.product-join-facebook {padding: 50px 0;}
.product-join-facebook .pr-fb-like-box {width: 500px; margin: 0 auto;  box-shadow: 0 10px 10px -4px rgba(0,0,0,0.4);}

#footer {background: #1f1f24; color: #ccc; margin-top: 20px; position: relative; z-index: 2; box-shadow: 0 -3px 6px rgba(0,0,0,0.2);}
#footer .content {padding: 20px 0;}
#footer .footer-logo {height: 24px; margin-top: 20px;}
#footer .footer-logo img {height: 100%;}
#footer .point {float: left; width: 33.33%; font-size: 15px;}
#footer .point p {margin: 0 0 5px 0}
#footer .point p.point-head {margin-bottom: 10px; font-weight: bold; text-transform: uppercase; color: #fff;}
#footer .point a {color: #fff;}
#footer .point .social-icon {display: inline-block; position: relative; width: 26px; height: 26px; border: 2px solid #fff; border-radius: 50%; margin-right: 10px;}
#footer .point .social-icon span {left: 5px; top: 5px; position: absolute; display: block; width: 16px; height: 16px; background-repeat: no-repeat; content: "";}
#footer .point .social-icon.facebook span {background-position: 0 -32px;}
#footer .point .social-icon.email span {background-position: -16px -32px;}

#mobile-menu {display: none;background: rgba(0,0,0,0.6);}
#mobile-menu li.catalog > a {display: block; position:relative; height: 44px; line-height: 44px; text-align: center; color: #fff; text-decoration: none; text-transform: uppercase; background-color: rgba(233, 22, 63, 0.5);}
#mobile-menu li.catalog > a:before, #mobile-menu li.catalog > a:after {position: absolute; display: block; width: 24px; left: 20px; content: "";}
#mobile-menu li.catalog > a:before {border-top: 2px solid #fff; border-bottom: 2px solid #fff; top: 14px; height: 12px;}
#mobile-menu li.catalog > a:after {height: 2px; background: #fff; top: 21px;}
#mobile-menu .catalog-level1 {background: #f5f5f5; list-style-type: none; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; display: none; box-shadow: 0 4px 6px rgba(0,0,0,0.5);}
#mobile-menu .catalog-level1 li a {color: #000;}
#mobile-menu .catalog-level1 > li {margin-bottom: 5px;}
#mobile-menu .catalog-level1 > li > a {display: block; height: 36px; line-height: 36px; font-weight: bold; text-decoration: none; font-size: 18px;}
#mobile-menu .catalog-level2 {list-style-type: none; padding-left: 0;}
#mobile-menu .catalog-level2  > li > a {display: block; height: 36px; line-height: 36px; text-decoration: none;}

.ss_cart .clear {clear: both; height: 0;}
.ss_cart input[type="text"] {border-color: #ddd;}
.ss_cart .headerRow {display: none;}
.ss_cart .simpleCart_items > div {display: table; width: 100%;}
.ss_cart .itemRow {display: table;width: 100%;}
.ss_cart .itemRow > div {display: table-cell; vertical-align: middle;}
.ss_cart .itemRow > div.item-productshopid, .ss_cart .itemRow > div.item-productimg, .ss_cart .itemRow > div.item-category {display: none;}
.ss_cart .itemRow > div.item-thumb img {display: block; width: 80px; height: 80px;}
.ss_cart .itemRow > div.item-name {padding: 0 20px; width: 380px; font-size: 14px;}
.ss_cart .itemRow > div.item-price:before {content: "Kaina"; display: block; text-align: center; font-weight: bold;}
.ss_cart .itemRow > div.item-price {padding: 0 20px; width: 80px; text-align: center;}
.ss_cart .itemRow > div.item-quantity:before {content: "Kiekis"; display: block; text-align: center; font-weight: bold;}
.ss_cart .itemRow > div.item-quantity {text-align: center;width: 54px;}
.ss_cart .itemRow > div.item-total:before {content: "Suma"; display: block; text-align: center; font-weight: bold;}
.ss_cart .itemRow > div.item-total {text-align: center; width: 80px; padding: 0 20px;}
.ss_cart .itemRow > div.item-decrement, .ss_cart .itemRow > div.item-increment {width: 20px;position: relative;}
.ss_cart .itemRow > div.item-remove {text-align: right;}
.ss_cart .simpleCart_decrement, .ss_cart .simpleCart_increment {position: relative;display: inline-block;vertical-align: middle;text-decoration: none; background: #fff; width: 20px; height: 20px; border-radius: 50%; border: 1px solid #333; top:50%; margin-top: 1px;}
.ss_cart .simpleCart_decrement:after,.ss_cart .simpleCart_increment:after {position: absolute;top: 50%; left: 50%; display: block; width: 20px; height: 20px; margin-top: -10px; margin-left: -10px; color: #333;text-align: center;line-height: 16px;}
.ss_cart .simpleCart_decrement:hover, .ss_cart .simpleCart_increment:hover {border-color: #999;}
.ss_cart .simpleCart_decrement:hover:after, .ss_cart .simpleCart_increment:hover:after {color: #999;}
.ss_cart .simpleCart_decrement:after {content: "-"; font-size: 20px;}
.ss_cart .simpleCart_increment:after {content: "+"; font-size: 18px;}
.ss_cart .simpleCart_remove {font-weight: 500; text-transform: uppercase;font-size: 13px; color: #f55;}
.ss_cart .ssc_total {text-align: right; margin-top: 15px; display: none;}
.ss_cart .ssc_cart_discount {display: none;}
.ss_cart .ssc_discount_input a {outline:none;text-transform: uppercase;font-size: 14px;font-weight: 500;display: block;float: right;height: 30px;line-height: 30px;text-align: right;width: 87px;margin-left: 3px;margin-top: 1px;  background-image: url('/css/img/loader.gif'); background-repeat: no-repeat; background-position: 100px 100px;}
.ss_cart .ssc_discount_input a.loading {opacity:0.5;cursor:default;pointer-events:none;background-position: left center;}
.ss_cart .ssc_discount_input input {width: 154px; font-size: 14px; height: 24px;}
.ss_cart .ssc_empty {display: none;}
.ss_cart .ssc_discount_block {margin: 25px 0;}
.ss_cart .ssc_discount_block .ssc_discount_input {display:none;}
.ss_cart .ssc_discount_block .discount_message > div {display: none;}
.ss_cart .ssc_discount_block .dicount_success {padding-top: 5px; color: #008a00;}
.ss_cart .ssc_total_desc {display: inline-block; width: 120px;}
.ss_cart .ssc_total_sum {display: inline-block; width: 70px;}
.ss_cart .ssc_cart_grand_total {font-weight: 700;}
.ss_cart .ssc_total a.button {width: 250px; margin-top: 25px; float: right;}
.ss_cart .discount-and-order {float: right;}
.ss_cart #step1 .cart_contact_details {margin-bottom: 20px; background: #f5f5f5; padding: 20px; display: inline-block; border: 1px solid #ccc;}
.ss_cart #step1 .cart_contact_details > div {padding: 10px 0;}
.ss_cart #step1 div label, .adress_inputs > div label {font-weight: 400; margin-bottom: 3px; margin-left: 5px; padding-left: 22px; background-position: center left; background-repeat: no-repeat; display: inline-block;font-size:13px;text-transform: uppercase; line-height: 22px;}
.ss_cart .ssc_input_error {width: 228px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; border-color: #f99; padding: 5px; font-size: 13px; background: #fdd;display:none;}
.ss_cart .cs_shipping_option, .ss_cart .cs_payment_option {position: relative; border: 1px solid #ccc; background: #f5f5f5; cursor: pointer; padding: 20px 60px; box-sizing: border-box; margin-bottom: 15px;}
.ss_cart .cs_shipping_option.selected, .ss_cart .cs_payment_option.selected {border: 2px solid #333; background: #fff;padding: 19px 59px;}
.ss_cart .cs_shipping_option.selected div.bullet, .ss_cart .cs_payment_option.selected div.bullet {border-color: #333;}
.ss_cart .cs_shipping_option.selected div.bullet div, .ss_cart .cs_payment_option.selected div.bullet div {background: #333;}
.ss_cart .cs_shipping_option:hover, .ss_cart .cs_payment_option:hover {background: #fff;}
.ss_cart .cs_shipping_option .shipping_header p, .ss_cart .cs_payment_option .payment_header p {margin: 0; font-weight: 500;}
.ss_cart .cs_shipping_option div.bullet, .ss_cart .cs_payment_option div.bullet {position: absolute; top: 50%; margin-top: -11px; left: 19px; width: 18px; height: 18px; border: 2px solid #aaa; border-radius: 50px;}
.ss_cart .cs_shipping_option div.bullet div, .ss_cart .cs_payment_option div.bullet div {width: 14px; height: 14px; border-radius: 50%; margin-top: 2px; margin-left: 2px;}
.ss_cart .cs_shipping_option .shipping_img, .ss_cart .cs_payment_option .payment_img {width: 90px; height:90px; float: left; margin-right: 20px; overflow:hidden; border-radius: 5px; background-image:url('/css/img/loader.gif'); background-repeat: no-repeat; background-position: center center;}
.ss_cart .cs_payment_option .payment_img {width: 42px; height: 42px; margin-right: 15px;}
.ss_cart .cs_shipping_option .shipping_img img, .ss_cart .cs_payment_option .payment_img img {height: 100%; display: none;}
.ss_cart .cs_shipping_option .shipping_info_text {float: left; max-width: 450px; font-size: 13px;}
.ss_cart .cs_shipping_option .shipping_info_text span {background: #ddd; padding: 0 3px;}
.ss_cart .cs_payment_option .payment_info_text {float: left; max-width: 280px; font-size: 14px;}
.ss_cart .cs_shipping_option .shipping_info, .ss_cart .cs_payment_option .payment_info {margin-top: 10px;}
.ss_cart .cs_shipping_option .shipping_price, .ss_cart .cs_payment_option .payment_price {font-weight: 400; margin-bottom: 0; margin-top: 10px; font-size: 14px;}
.ss_cart .cs_shipping_option .shipping_addition_info {margin-top: 10px; display: none; padding: 10px 0; font-weight: 600;}
.ss_cart .cs_shipping_option .shipping_addition_info p {font-weight: 400;display: inline-block; margin-bottom: 10px;vertical-align: middle;}
.ss_cart .cs_shipping_option .shipping_addition_info span {display:none;vertical-align: middle; font-size: 14px;background: #F44336;color: #fff;height: 24px;line-height: 24px;padding: 0 10px;font-weight: 400;margin-left: 5px;margin-bottom:10px;}
.ss_cart .shipping_addition_info .adress_inputs > div {display: inline-block;}
.ss_cart .no_shipping_selected, .ss_cart .no_payment_selected, .ss_cart .no_bank_selected {display: none;vertical-align: middle;font-size: 14px;background: #F44336;color: #fff;height: 24px;line-height: 24px;padding: 0 10px;font-weight: 400;margin-left: 5px;}
.ss_cart .top_steps {display: none; margin-bottom: 20px;}
.ss_cart .top_steps .top_step {cursor: default; float: left; width: 204px; padding: 3px; background: #eee; color: #999; border-radius: 20px;}
.ss_cart .top_steps .top_step_arrow {float: left; width: 32px; height: 34px; background-position: center center; background-repeat: no-repeat; background-image: url('img/cart_arrow_right.png');}
.ss_cart .top_steps .top_step > div {display: inline-block; vertical-align: middle;}
.ss_cart .top_step_number {width: 28px; height: 28px; line-height: 29px; background: #ddd; text-align: center; border-radius:20px;}
.ss_cart .top_step_text {font-size: 13px; padding-left: 5px;}
.ss_cart .top_step.selected {background: #ddd; color: #333;}
.ss_cart .top_step.selected .top_step_number {background: #555; color: #fff; font-weight: bold;}
.ss_cart .head_instruct {margin-top: 30px; margin-bottom: 10px; font-size: 15px; font-weight: 400;}
.ss_cart .product_summary {display: table; width: 100%; font-size: 14px;}
.ss_cart .product_summary .product_sum_row {display: table-row;}
.ss_cart .product_sum_row > div {display: table-cell; padding: 5px 0; border-bottom: 1px solid #eee;}
.ss_cart .product_sum_row > div.head {font-weight: 500; text-align: center; padding-top: 0;}
.ss_cart .product_sum_row > div.product_sum_price.head, .ss_cart .product_sum_row > div.product_sum_sum.head {text-align: right;}
.ss_cart .product_sum_row .product_sum_qnty {text-align: center;}
.ss_cart .product_sum_row .product_sum_price, .ss_cart .product_sum_row .product_sum_sum {text-align: right;}
.ss_cart .product_sum_row > div.product_sum_name img {vertical-align: middle; width: 50px; margin-right: 10px;}
.ss_cart .cart_back {margin-top: 30px; text-transform: uppercase; font-size: 14px; font-weight: 400; line-height: 30px; text-decoration: none; border: 1px solid #0789f7; max-width: 278px; display:block; text-align: center;}
.ss_cart .cart_back span {font-size: 20px;}
.ss_cart .cart_back:hover {opacity: 0.5}
.ss_cart #step4 .cart_back {margin-top: 25px;}
.ss_cart .cart_black_bg {display: none; position: fixed; top: 0; left: 0; width: 100%;height: 100%; z-index: 100; background-color: rgba(0,0,0,0.7); background-position: center center; background-repeat: no-repeat; background-image: url('/css/img/loader.gif');}
.ss_cart #order_comment {width: 100%; box-sizing: border-box; margin-bottom: 20px;}
.ss_cart .paysera-payment-block {text-align: left;}
.ss_cart .paysera-payment-block ul {margin: 0; padding: 0; list-style-type: none;}
.ss_cart .paysera-payment-block ul li {text-align: center; line-height:46px; width: 175px;height: 48px;border: 2px solid #eee;background-color: #eee;float: left;cursor: pointer;margin-right: 10px;margin-bottom: 10px;}
.ss_cart .paysera-payment-block ul li:nth-child(5n+5) {margin-right: 0;}
.ss_cart .paysera-payment-block ul li img { width: 120px; vertical-align: middle;}
.ss_cart .paysera-payment-block ul li:hover {background-color: #fff;}
.ss_cart .paysera-payment-block ul .paysera-banks.selected {background-color: #fff; border: 2px solid #333; width: 175px; height: 48px; line-height:46px;}
.ss_cart #step4 #mobile_bank_selcet {display: none; margin: 0 auto;}
.ss_cart #success_block .s-anim {position: relative; height: 60px;}
.ss_cart #success_block .s-anim > div {opacity: 0; position: absolute; background-position:center center; background-repeat:no-repeat; }
.ss_cart #success_block .s-anim > div.s-bags {z-index: 0; top: -20px; left: 0; width: 54px; height: 54px; background-size: 54px; background-image: url('/css/img/store-purchase.png');}
.ss_cart #success_block .s-anim > div.s-check {z-index: 1; top: -10px; left: 40px; height: 30px; width: 30px; background-color: #fff; border-radius: 50%; background-size: 30px; background-image: url('/css/img/green_checked.png');}
.ss_cart #success_block .s-anim > div.s-text {height: 26px; line-height: 26px; font-size: 18px; top: 18px; left: 80px; font-weight: 700;}
.ss_cart #success_block .s-point {position: relative; padding-left: 40px; margin-top: 30px; opacity: 0;}
.ss_cart #success_block .s-point span {position: absolute; top: 0; left: 0; display: block; width: 28px;height: 28px;line-height: 29px;border-radius:50%; text-align: center;background: #555;color: #fff;font-weight: bold;}
.ss_cart #success_block .s-point p.s-head {font-weight: 500; margin-bottom: 5px; padding-top: 5px; line-height: 1.2;}
.ss_cart #success_block .s-point p {margin-bottom: 4px;}
.ss_cart #success_block .s-articles {margin-top: 20px;}
.ss_cart #success_block .s-article {float: left; margin-right: 20px; width: 200px; opacity: 0; margin-bottom: 20px;}
.ss_cart #success_block .s-article.last {margin-right: 0;}
.ss_cart #success_block .s-article .s-article-img img {width: 100%;}
.ss_cart #success_block .s-article .s-article-name {font-size: 14px; font-weight: 500;}
.ss_cart .btn-success, .ss_cart .btn-danger {height: 32px; vertical-align: top; width: 100px; border: 2px solid; box-sizing: border-box; background: #fff; border-radius: 4px; text-transform: uppercase; cursor: pointer;}
.ss_cart .btn-success {color: #0769d7; font-weight: bold;}
.ss_cart .btn-success:hover {color: #fff; background:#0769d7; border-color: #0769d7;}
.ss_cart .btn-success:active {background: #0749b7;}
.ss_cart .btn-danger {color: #f55;}
.ss_cart .btn-danger:hover {background: rgb(233, 22, 63); color: #fff; border-color: rgb(233, 22, 63);}
.ss_cart .btn-danger:active {background: rgb(213, 22, 63);}
.ss_cart .btn:focus {outline: none;}

.mobile-fixed-cart {position: fixed; z-index:100; display:none; bottom: 20px; right: 20px; background: #333; width: 60px; height: 60px; border-radius: 50%;}
.mobile-fixed-cart span {display: block; width: 32px; height: 32px; position: absolute; top: 50%; left: 50%; margin-top: -18px; margin-left: -16px; background-position: -16px 0;}
.mobile-fixed-cart div {position: absolute; width: 32px; height: 32px; text-align: center; line-height: 32px; color: #666; top: 50%; left: 50%; margin-top: -12px; margin-left: -15px; font-size: 13px;}

@media screen and (max-width:500px){
	.content {width: 100%;}
	.fl-le, .fl-ri {float: none;}
	#header {padding: 20px 0 25px;}
	#header .content {text-align: center;}
	#header .logo-container {text-align: center; height: 34px;}
	#header #shopping-cart {display: none;}
	#header .phone {display: none;}
	#header .search-box {width: 280px; margin: 15px auto 0;}
	#header .search-box input[type="text"] {width: 280px;}
	#header .descript {display: inline-block; font-size: 12px; margin: 4px 0;}
	#menu, #category .category-menu {display: none;}
	#mobile-menu {display: block;}
	#category .category-header {padding: 0;}
	#category .category-body {margin: 0 20px;}
	#category .category-products {width: 320px; margin: 0 auto;}
	h1 {font-size: 19px; margin-bottom: 20px;}
	p.h2 {font-size: 18px; line-height: 1.2;}
	#category .cat-pr {width: 118px; padding: 10px;}
	#category .cat-pr-price {font-size: 15px;}
	#category .cat-pr-price span {font-size: 13px;}
	#footer .point {float: none; padding: 0 20px; width: auto; margin-bottom: 40px;}
	#footer .footer-logo {padding: 0 20px;}
	#product-page {padding: 0 20px;}
	#product-page .product-images {width: 100%; float: none;}
	#product-page .product-title, #product-page .short-info {float: none; width: auto; margin-left: 0;}
	#product-page .short-info {margin-top: 30px;}
	#product-page .product-details {padding: 0;}
	#product-page .add-block {margin-top: 0;}
	#product-page .product-images .additional-images a {width: 62px; height: 62px; margin-right: 8px; margin-top: 8px;}
	#product-page .tab-container, #product-page .related-products {float: none;}
	#product-page .tabs {width: 100%;}
	#product-page .tabs ul {box-sizing: border-box;}
	#product-page .tabs ul li {display: block;}
	#product-page .tabs ul li a {box-shadow: 0 0 0; border-bottom: 1px solid #eee;}
	#product-page .tabs ul li a.selected {box-shadow: 0 0 0; border-bottom: 1px solid #eee;}
	#product-page .tab-info {width: 100%; box-sizing: border-box;}
	#product-page .tab-content .tab-header {font-size: 18px;}
	#product-page .tab-content {padding: 15px;}
	#product-page .short-benefits .point {width: 100%; padding: 0; display: table; margin-bottom: 20px; float: none;}
	#product-page .short-benefits .point .icon {display: table-cell; vertical-align: middle;}
	#product-page .short-benefits .point .text {display: table-cell; vertical-align: middle; text-align: left; padding-left: 10px; padding-top: 0;}
	#product-page .related-products {width: 100%; margin-left: 0; margin-top: 30px;}
	.product-email-sign-up {padding-left: 20px; padding-right: 20px;}
	.product-email-sign-up .point.text {width: 100%;}
	.product-email-sign-up .point.text ul li {line-height: 16px; height: 32px; margin-bottom: 20px;}
	.product-email-sign-up .point.text ul li span {margin-top: 3px;}
	.product-email-sign-up .point.form {width: 280px;}
	#product-page .related-products ul li {width: 138px; margin-right: 0; margin-top: 0;}
	#product-page .related-products ul li a img {margin-top: -9px;}
	.mobile-fixed-cart {display: block;}
	.product-join-facebook {overflow: hidden; width: 100%;}
	.main-page-beneits .point {float: none; margin-right: 0; width: 100%; display: block; box-sizing: border-box; padding-left: 20px; padding-right: 20px;}
	.shopping-cart {padding: 0 20px;}
	.ss_cart .ssc_empty {padding: 0 10px;}
	.ss_cart .simpleCart_items {padding: 0 10px;}
	.ss_cart .simpleCart_items > div {width: auto; display: block;}
	.ss_cart .itemRow {display: block; position: relative; height: 180px;}
	.ss_cart .itemRow > div {display: block; position: absolute;}
	.ss_cart .itemRow > div.item-thumb {top: 0; left: 0;}
	.ss_cart .itemRow > div.item-name {padding: 0; width: 70%; left: 90px; top: 18px;}
	.ss_cart .itemRow > div.item-price {padding: 0; width: auto; left: 10px; top: 80px;}
	.ss_cart .itemRow > div.item-quantity, .ss_cart .itemRow > div.dvizh-change-count {width: 110px; top: 100px; left: 50%; margin-left: -50px;}
	.ss_cart .itemRow > div.item-decrement, .ss_cart .itemRow > div.item-increment {position: absolute; top: 104px; z-index: 2; width: 22px;}
	.ss_cart .simpleCart_decrement, .ss_cart .simpleCart_increment {position: relative;}
	.ss_cart .itemRow > div.item-decrement {left: 50%; margin-left: -40px;}
	.ss_cart .itemRow > div.item-increment {right: 50%; margin-right: -40px;}
	.ss_cart .simpleCart_decrement {right: 0}
	.ss_cart .itemRow > div.item-total {top: 80px; padding: 0; right: 10px; width: auto;}
	.ss_cart .itemRow > div.item-remove {top: 140px; right: 10px;}
	.ss_cart .ssc_total {padding: 0 20px;}
	.ss_cart .button {display: block; margin-left: auto; margin-right: auto; width: 250px; height: 40px; line-height: 40px; padding-left: 0; padding-right: 0;}
	.ss_cart .desktop_steps {display: none;}
	.ss_cart .head_instruct {margin-top: 10px;}
	.ss_cart #step1, .ss_cart #step2, .ss_cart #step3 {text-align: center;}
	.ss_cart #step2, .ss_cart #step3 {padding: 0 15px;}
	.ss_cart #step2 .desktop {display: none;}
	.ss_cart #step1 div label, .adress_inputs > div label {padding-left: 22px!important; margin-bottom: 0;}
	.ss_cart .cart_back {float: none; text-align:center; display: block; padding-left: 0; padding-right: 0;width: 250px;margin-left: auto;margin-right: auto;margin-top: 20px;}
	.ss_cart #step1 .cart_contact_details {display: block; width: 210px; margin-left: auto; margin-right: auto; padding-bottom: 35px;}
	.ss_cart #step1 .cart_contact_details > div {text-align: left;}
	.ss_cart #step1 .cart_contact_details > div input {width: 202px;}
	.ss_cart .ssc_input_error {width: 190px;}
	.ss_cart .cs_shipping_option div.bullet, .ss_cart .cs_payment_option div.bullet {display: none;}
	.ss_cart .cs_shipping_option, .ss_cart .cs_payment_option {padding: 15px; text-align: left;}
	.ss_cart .cs_shipping_option.selected, .ss_cart .cs_payment_option.selected {padding: 14px;}
	.ss_cart .cs_shipping_option .shipping_img, .ss_cart .cs_payment_option .payment_img {width: 50px; height: 50px; margin-right: 15px;}
	.ss_cart .cs_shipping_option .shipping_info, .ss_cart .cs_payment_option .payment_info {display: none;}
	.ss_cart .cs_shipping_option .shipping_info_text, .ss_cart .cs_payment_option .payment_info_text {width: 73%;}
	.ss_cart .cs_shipping_option .shipping_header p, .ss_cart .cs_payment_option .payment_header p {line-height: 1.4; padding-left: 45px; position: relative;}
	.ss_cart .cs_shipping_option .shipping_header p:before, .ss_cart .cs_payment_option .payment_header p:before {content: ""; display: block; position: absolute; top: 50%; left: 0; width: 20px; height: 20px; border: 2px solid #ccc; border-radius: 50%; margin-top: -11px;}
	.ss_cart .cs_shipping_option.selected .shipping_header p:before, .ss_cart .cs_payment_option.selected .payment_header p:before {border-color: #333;}
	.ss_cart .cs_shipping_option .shipping_header p:after, .ss_cart .cs_payment_option .payment_header p:after {content: ""; display: block; position: absolute; top: 50%; left: 5px; width: 14px; height: 14px; border-radius: 50%; margin-top: -6px;}
	.ss_cart .cs_shipping_option.selected .shipping_header p:after, .ss_cart .cs_payment_option.selected .payment_header p:after {background: #333;}
	.ss_cart .cs_shipping_option .shipping_addition_info select {max-width: 255px;}
	.ss_cart #step3 .head_instruct.comment_head {text-align: left; font-size: 14px;}
	.ss_cart #step4 .mobile_padding {padding: 0 20px;}
	.ss_cart #step4 .head_instruct {text-align: center;}
	.ss_cart .product_sum_row > div.product_sum_name img {display: block;}
	.ss_cart .product_sum_row > div.product_sum_name {width: 130px; font-size: 12px;}
	.ss_cart #step4 .ssc_cart_grand_total {margin-bottom: 30px;}
	.ss_cart #step4 ul {display: none;}
	.ss_cart #step4 #mobile_bank_selcet {display: block;}
	.ss_cart #success_block {margin: 0 20px;}
}
